---
import "@/styles/starwind.css";
import Navbar from "@/components/common/Navbar/Navbar.astro";
import Footer from "@/components/common/Footer/Footer.astro";
import type { Locale } from "@/domain";
import { DEFAULT_LOCALE } from "@/domain";

interface Props {
  title: string;
  locale?: Locale;
}

const { title, locale = DEFAULT_LOCALE } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Globalcore | {title}</title>
  </head>
  <body>
    <Navbar locale={locale} />
    <slot />
    <Footer locale={locale} />
  </body>
</html>
